<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wellevate_logger_logevent_listing_data_source" xsi:type="string">Wellevate\Logger\Model\ResourceModel\Logevent\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Wellevate\Logger\Model\ResourceModel\Logevent\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">wellevate_log_event</argument>
            <argument name="resourceModel" xsi:type="string">Wellevate\Logger\Model\ResourceModel\Logevent</argument>
        </arguments>
    </virtualType>
</config>