<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="demo_app_tab" translate="label" sortOrder="10">
            <label>Demo</label>
        </tab>
        <section id="demo_ui" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Global UI Settings</label>
            <tab>demo_app_tab</tab>
            <resource>Demo_App::demo_ui</resource>

            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Settings</label>

                <field id="title" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="10" type="text"
                       translate="label" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="meta_keywords" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="20"
                       type="textarea" translate="label" canRestore="1">
                    <label>Meta Keywords</label>
                </field>
                <field id="meta_description" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="30"
                       type="textarea" translate="label" canRestore="1">
                    <label>Meta Description</label>
                </field>

                <field id="ga" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="50" type="textarea"
                       translate="label" canRestore="1">
                    <label>Google Analytics</label>
                </field>
                <field id="gtm" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="60" type="textarea"
                       translate="label" canRestore="1">
                    <label>Google Tag Manager</label>
                </field>
                <field id="zopim" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="70" type="text"
                       translate="label" canRestore="1">
                    <label>Zopim</label>
                </field>
                <field id="act_on" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="80" type="text"
                       translate="label" canRestore="1">
                    <label>Act On</label>
                </field>
                <field id="fullstory" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="90" type="text"
                       translate="label" canRestore="1">
                    <label>Full Story</label>
                </field>
                <field id="support_contact_number" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="100"
                       type="text" translate="label" canRestore="1">
                    <label>Support Contact Number</label>
                </field>

                <field id="media_url" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="110" type="text"
                       translate="label" canRestore="1">
                    <label>Media Path</label>
                </field>
                <field id="assets_url" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="120" type="text"
                       translate="label" canRestore="1">
                    <label>Assets Path</label>
                </field>
            </group>

            <group id="icon" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Icon Settings</label>
                <field id="favicon" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Favicon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="touch_icon" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>General Touch Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_40x40" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 40x40</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_80x40" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 80x40</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_58x58" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 40 X 40</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_60x60" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 60x60</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_87x87" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 87x87</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_120x120" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 120x120</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_152x152" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 152x152</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_167x167" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 167x167</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_180x180" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 180x180</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_192x192" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 1024x1024</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="icon_1024x1024" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="130" showInDefault="1" showInWebsite="1">
                    <label>Touch Icon - 1024x1024</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
            </group>

            <group id="header" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Header Settings</label>
                <field id="navigation" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="10"
                       type="textarea" translate="label" canRestore="1">
                    <label>Header Menu</label>
                    <comment>This has to be in JSON format. [This will be replaced with Ranges/ArraySerialized]</comment>
                </field>
                <field id="logo" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Header Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
                <field id="right_logo" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Header Right Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
            </group>

            <group id="home" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Home header Settings</label>
                <field id="title" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="10"
                       type="textarea" translate="label" canRestore="1">
                    <label>Banner Title</label>
                </field>
                <field id="description" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="20"
                       type="textarea" translate="label" canRestore="1">
                    <label>Banner Description</label>
                </field>
                <field id="banner" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Banner Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
            </group>

            <group id="footer" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Footer Settings</label>

                <field id="navigation" showInStore="0" showInWebsite="1" showInDefault="1" sortOrder="10"
                       type="textarea" translate="label" canRestore="1">
                    <label>Footer Menu</label>
                    <comment>This has to be in JSON format. [This will be replaced with Ranges/ArraySerialized]</comment>
                </field>
                <field id="logo" type="Magento\Config\Block\System\Config\Form\Field\File"
                       translate="label" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Footer Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">ui</upload_dir>
                    <comment>'png', 'jpg', 'jpeg', 'svg' file formats are allowed.</comment>
                </field>
            </group>

        </section>
    </system>
</config>