<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wellevate_App::wellevate" title="Wellevate" module="Wellevate_App" sortOrder="1000"
             resource="Wellevate_App::wellevate"/>
    </menu>
</config>
