<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Wellevate_App::wellevate_system"
             title="System"
             module="Wellevate_App"
             sortOrder="100"
             parent="Wellevate_App::wellevate"
             resource="Wellevate_App::wellevate_system"/>

        <add id="Wellevate_Logger::report_logs"
             title="Log/Report Manager"
             module="Wellevate_Logger"
             sortOrder="10"
             parent="Wellevate_App::wellevate_system"
             resource="Wellevate_App::report_logs"
             action="logger/grid/index"/>

        <add id="Wellevate_Logger::log"
             title="Customer Change Log"
             module="Wellevate_Logger"
             sortOrder="60"
             parent="Magento_Customer::customer"
             resource="Wellevate_Logger::log"
             action="logger/logevent"/>
    </menu>
</config>